    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                
                <div class="author-message">                      
                    <div class="profile">
                      <img width="300" class="img-responsive" src="{{ site.baseurl }}public/images/profile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <p class="intro  text-center">Thanks for use Androoid Spring Roo Add-On Suite. I hope you find Androoid project useful and interesting. <br /> <br/>
                            Contact to <a href="mailto:androoid.project@gmail.com">androoid.project@gmail.com</a> if you have any questions or suggestions. <br/> <br/> 
                            If you detect some issue on Androoid project, <a target="__blank" href="https://github.com/androoid/androoid/issues/new">create new ticket on gitHub</a><br/> <br/>
                            Pull-requests and any type of contribution are welcome!</p>
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/androoid"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/xiaoying"><i class="fa fa-linkedin"></i></a></li>
                        <li class="last"><a href="mailto: hello@3rdwavemedia.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
