    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <div class="block">
                <h3 class="sub-title text-center">Installation</h3>
                <p>To be able to use Androoid you should download Spring Roo 2.0+ from <a href="http://spring-roo-repository.springsource.org.s3.amazonaws.com/milestone/ROO/spring-roo-2.0.0.M1.zip" target="_blank">here</a></p>
                <p>Unzip Spring Roo 2.0+ and execute Roo Shell on a new folder</p>
                <div class="code-block">
                    <pre>
                      <code class="language-markup">
                        jcagarcia@jcagarcia:~$&gt cd /tmp
                        jcagarcia@jcagarcia:/tmp$&gt mkdir androoid-sample
                        jcagarcia@jcagarcia:/tmp/androoid-sample$&gt ~/software/spring-roo-2.0.0.M1/bin/roo.sh
                            ____  ____  ____  
                           / __ \/ __ \/ __ \ 
                          / /_/ / / / / / / / 
                         / _, _/ /_/ / /_/ /  
                        /_/ |_|\____/\____/    2.0.0.M1 [rev 33e5d76]
    
    
                        Welcome to Spring Roo. For assistance press TAB or type "hint" then hit ENTER.
                        roo&gt
                     </code>
                    </pre>
                </div><!--//code-block-->
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">CSS</h3>
                <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre>
    <code class="language-css">
    /*   
     * Template Name: devAid - Responsive Website Template for developers
     * Version: 1.0
     * Author: Xiaoying Riley at 3rd Wave Media
     * Website: http://themes.3rdwavemedia.com/
     * Twitter: @3rdwave_themes
    */
    body {
      font-family: 'Lato', arial, sans-serif;
      color: #444444;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    </code></pre>
                </div><!--//code-block-->
            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">JavaScript</h3>
                <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget dolor.</p>
                <div class="code-block">
                    <pre><code class="language-javascript">
    if( awesome ){
        console.log('This is Awesome');
    }else{
        $('body').addClass('give-me-awesome');
    }
                    </code></pre>
                </div><!--//code-block-->
            </div><!--//block-->   
            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>If your documentation is very long you can host the full docs page (including FAQ etc) on GitHub and provide a Call to Action button below to direct users there.</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/twbs/bootstrap" target="_blank">More on GitHub</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
