    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Generate Android Applications from scratch</li>
                <li><i class="fa fa-check"></i> Easy to customize</li>
                <li><i class="fa fa-check"></i> No HTML or JS components. Use native Java language</li>
                <li><i class="fa fa-check"></i> Manage project dependencies using Maven</li>
                <li><i class="fa fa-check"></i> Uses <a target="__blank" href="http://ormlite.com/">OrmLite</a> to manage persistence</li>
                <li><i class="fa fa-check"></i> Includes support to use <a target="__blank" href="https://github.com/osmdroid/osmdroid">osmdroid</a></li>
                <li><i class="fa fa-check"></i> Generate Android application from an existing web application</li>
                <li><i class="fa fa-check"></i> Convert to a valid Android Studio project with a simple command</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
