    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <!--<p>
                <img width="250" src="../public/images/ANDROOID_TRANSPARENT.png" />
            </p>-->
            <h2 class="title">Androoid</h2>
            <p class="intro">An Spring Roo Addon Suite that provides developers all necessary tools to generate Android mobile applications quickly.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://github.com/androoid/androoid-samples" target="_blank">Quickstart</a>
                <a class="btn btn-cta-primary" href="http://projects.spring.io/spring-roo/marketplace/" target="_blank">Download</a>
            </div>
            <ul class="meta list-inline">
                <li>Created by: <a href="http://github.com/jcagarcia" target="_blank"> Juan Carlos García</a></li>
                <li>Maintained by: <a href="http://github.com/androoid" target="_blank"> Androoid Community</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="twitter-follow"><a href="https://twitter.com/AndrooidProject" class="twitter-follow-button" data-show-count="false">Follow @AndrooidProject</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Androoid" data-hashtags="Androoid, SpringRoo, OpenSource" data-text="Generate #Android applications in 5 minutes! Check out http://androoid.github.io and enjoy it!">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="https://ghbtns.com/github-btn.html?user=androoid&repo=androoid&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe></li>
                    <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=androoid&repo=androoid&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe></li>
                </ul>
            </div>
        </div>
    </section><!--//promo-->
